<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320593812634-vgp03sjgr8lnv4ceggopncrshf6tgn2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320593812634-vgp03sjgr8lnv4ceggopncrshf6tgn2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDBC1bm1Bc8VfqB675TlpcNqp9--GkaK8k</string>
	<key>GCM_SENDER_ID</key>
	<string>320593812634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datingapp.date</string>
	<key>PROJECT_ID</key>
	<string>dating-app-19749</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-19749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320593812634:ios:079e385d543b9415a89323</string>
</dict>
</plist>